@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans&display=swap');

body{
background-image: url("https://images.unsplash.com/photo-1469733881637-10c8de93222c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80");
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
height: 100vh;
}
.main-container{
  margin-top: 10%;
  padding: 30px;
  color: white;
  background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8));  
  background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8));
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 150%;
  font-family: 'Noto Sans', sans-serif;
}
h1{
  font-family: 'Comforter', cursive;
}
input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn-dark{
  margin-top: 10px;
  margin-bottom: 10px;
}




